@model Ecommerce_App.Components.DashbarViewComponent.ViewModel

<span class="navbar-text">
    <a asp-area="" asp-page="/Login" class="navbar-brand">Login</a>
    <a asp-area="" asp-page="/Register" class="navbar-brand">Register</a>
    <a asp-area="" asp-page="/Cart" asp-route-id="@Model.CartID" class="navbar-brand">Cart contains @Model.numProd items.</a>
</span>