@model Ecommerce_App.Models.CategoryDetailVm

<h1>Here are the details for @Model.CatName</h1>
<article>@Model.Description</article>
<ul>
@foreach (var product in Model.Products)
{
	<li>
			<a asp-controller="Dashboard" asp-action="ProductDetails" asp-route-Id=@product.ProductId>@
	</li>
}

</ul>


