@page "{id}"
@model Ecommerce_App.Pages.CartModel
@{
}

<h1>Hello from the cart!</h1>
<ul>
	@foreach (var prod in Model.CartProducts)
	{
		<li>@prod.Name</li>
		<li>@prod.Price</li>
	}
</ul>
<form method="post" asp-route-id="@Model.UserObj.ID"  asp-page="/Checkout">
	<input type="hidden" name="UserID" value="@Model.UserObj.ID" />
	<button type="submit">Go To Checkout</button>
</form>

