@page
@model Ecommerce_App.Pages.IndexModel
@{
}

<a asp-page="/login">Login</a> or <a asp-page="/register">Register</a>

<h1>Hello from the razor page index >:( look at all these chickens</h1>

@foreach(var cat in Model.categories)
{
    <a asp-page="/catdetails" asp-route-id="@cat.Id">@cat.Name</a>
    <br />
}
