@page
@model Ecommerce_App.Pages.IndexModel
@{
}

<h1>Hello from the razor page index >:( look at all these chickens</h1>

@foreach(var cat in Model.categories)
{
    <a asp-page="/categorydetails" asp-route-id="@cat.Id">@cat.Name</a>
    <br />
}
